CompileFlags:
  Add:
    - --target=xtensa-esp32-elf
    - -isystem
    - C:/Users/olafo/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0
    - -isystem
    - C:/Users/olafo/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0/xtensa-esp32-elf
    - -isystem
    - C:/Users/olafo/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0/backward
    - -isystem
    - C:/Users/olafo/.platformio/packages/toolchain-xtensa-esp32/lib/gcc/xtensa-esp32-elf/8.4.0/include
    - -isystem
    - C:/Users/olafo/.platformio/packages/toolchain-xtensa-esp32/lib/gcc/xtensa-esp32-elf/8.4.0/include-fixed
    - -isystem
    - C:/Users/olafo/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/sys-include
    - -isystem
    - C:/Users/olafo/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include
    - -I
    - C:/Users/olafo/.platformio/packages/framework-arduinoespressif32/libraries/LittleFS/src
    - -I
    - C:/Users/olafo/.platformio/packages/framework-arduinoespressif32/libraries/FS/src
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-jump-tables
    - -freorder-blocks
    - -Wno-error=unused-but-set-variable
    - -Wno-frame-address




